.login {
    background-image: url(./images/pexels-retha-ferguson-3820312.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-top: 3px solid rgb(13,103,207);
    
}


